modules = ["lua-5.2"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Instrucciones"

[[workflows.workflow]]
name = "Instrucciones"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cat INSTRUCCIONES.md"

[workflows.workflow.metadata]
outputType = "console"
